a {
  display: block;
  margin: 10px;
  font-family: 'Sen', sans-serif;
  color: green;
}

a:active {
  color: darkgreen;
}

a:visited {
  color: yellow;
}

a:hover {
  color: lime;
  text-decoration: none;
}